.tech-icon {
  margin: auto auto auto 5px;
  height: 2.5em;
}

.tech-icon-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  color: #000;
  border-radius: 2px;
  margin: 0;
  padding: 2px 10px;
  font-family: Raleway,Open Sans,sans-serif;
  font-weight: 700;
}

.tech-icon-container {
  margin: 0.5em 0;
  padding-left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.small-margin {
  margin: 2px !important;
  padding: 2px !important;
}

.tech-icon-container ul {
  list-style: none;
}

.language-icon {
  opacity: 0.7;
  transition: all .1s linear;
}

.language-icon:hover {
  opacity: 1;
  transform: translate(0,-3px);
}

.language-icon-inner {
  opacity: 1;
  transition: all .1s linear;
}

.social {
  background: #fff;
  color: #000;
  opacity: 0.5;
  transition: all .1s linear;
}

.social:hover {
  opacity: 1;
  transform: scale(1.1);
}

.icon-footer {
  background: #424242;
  color: black;
}

.mdl-layout__drawer {
  background-color: #009688;
}

.mdl-layout__drawer .mdl-navigation,
.mdl-layout__drawer .mdl-layout-title,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #fff;
}

.mdl-layout__header-row .mdl-navigation__link {
  opacity: 0.5;
  position: relative;
  text-decoration: none;
  transition: all .2s ease-out;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  opacity: 1 !important;
  color: #fff !important
}

.mdl-layout__header-row .mdl-navigation__link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 20px;
  left: 10%;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.mdl-layout__header-row .mdl-navigation__link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  color: white;
}

.mdl-card__supporting-text {
  width: 92%;
}

.mdl-mini-footer {
  margin: auto 0;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-card {
  transition: all .195s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.portfolio-card:hover {
  transform: translate(0, -5px);
  z-index: 999;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 1200px;
  margin: auto;
}

.no-left-padding{
  padding-left: 0;
}

.no-top-padding{
  padding-top: 0;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 700px;
  margin: auto;
}

.contact-text {
  font-size: 1.5em;
  font-weight: 400;
}

.repo-btn {
  float: right;
}

footer {
  background-size: cover;
}

#header-img {
  background-color: #fff;
}

.react-logo {
  animation: react-logo-spin infinite 20s linear;
}

.aboutMeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subtitle {
  align-self: flex-start;
  font-weight: 400;
  border-bottom: 2px solid #009688;
  margin-bottom: 10px;
}

.aboutMeImgContainer {
  display: flex;
  align-items: center;
}

@keyframes react-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 839px) and (min-width: 480px) {
  .mdl-cell--4-col, .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
    width: calc(100% - 16px);
  }
  img.aboutMeImg {
    width: auto;
    height: auto;
    max-height: 50vh;
  }
  .aboutMeImgContainer {
    display: flex;
    justify-content: center;
  }
}
