.mdl-layout__drawer {
  background-color: #009688;
}

.mdl-layout__drawer .mdl-navigation,
.mdl-layout__drawer .mdl-layout-title,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: #fff;
}

.mdl-layout__header-row .mdl-navigation__link {
  opacity: 0.5;
  position: relative;
  text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  opacity: 1 !important;
  color: #fff !important
}

.mdl-layout__header-row .mdl-navigation__link:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 20px;
  left: 10%;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.mdl-layout__header-row .mdl-navigation__link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  color: white;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 1200px;
  margin: auto;
}

.no-left-padding{
  padding-left: 0;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 700px;
  margin: auto;
}

footer {
  background-size: cover;
}
